i3
vim
ranger
htop
neofetch
build-essential
python3-dev
openssh-server
lolcat
kazam
vnstati
vnstat
fish
mpd
nmcli
mmcli
fonts-font-awesome
fonts-terminus
compton
lxappearance
check
check-dev
libpango1.0-dev
libcairo-dev
libglib2.0-dev
libgdk-pixbuf2.0-dev
libstartup-notification0-dev
libxkbcommon-dev
libxkbcommon-x11-dev
libxcb1-dev
libxcb-xkb-dev
libxcb-randr0-dev
libxcb-xinerama0-dev
libxcb-util-dev
libxcb-ewmh-dev
libxcb-icccm4-dev
libxcb-xinerama0-dev
libxkbcommon-x11-dev
xkbcommon-x11
libxkbcommon-dev
libpangoxft-1.0-0
libpango-1.0-0
configure
libxcb-icccm4
gcc
make
autoconf
automake
pkg-config
flex
bison
libgdk-pixbuf2.0-0
gir1.2-gmodule-2.0
libglib2.0-0
libcairo2
libpangocairo-1.0-0
libpango-1.0-0
libstartup-notification0
libxkbcommon0
libxkbcommon0
libxcb1
libxcb-xkb1
libxcb-randr0
libxcb-xinerama0
libxcb-util-dev
fonts-fantasque-sans
libghc-tidal-dev
python3-sphinx
wildmidi
ncmpcpp
fonts-material-design-icons-iconfont
fonts-font-awesome
fonts-freefont-ttf
flameshot
lxpolkit
libxcb-xkb-dev
libxcb-xrm-dev
libxcb-cursor-dev
libasound2-dev
libpulse-dev
i3-wm
libjsoncpp-dev
libmpdclient-dev
libcurl4-openssl-dev
libnl-genl-3-dev
git
cmake
cmake-data
pkg-config
python3-sphinx
python3-packaging
libcairo2-dev
libxcb1-dev
libxcb-util0-dev
libxcb-randr0-dev
libxcb-composite0-dev
python3-xcbgen
xcb-proto
libxcb-image0-dev
libxcb-ewmh-dev
libxcb-icccm4-dev
libxext-dev
libgl1-mesa-dev
libxxf86vm-dev
qt5-default
qt5ct*
boot-repair
youtube-dl
nitrogen
