configuration {
  show-icons:         true;
  icon-theme:         "Papirus-Apps";
  terminal:           "gnome-terminal";
  cycle:              false;
  hide-scrollbar:     true;
  disable-history:    false;
}
